{% include 'base.html' %}
{% block content %}
    <h2>{{ project_object }}</h2>
    <hr>
    {% if project_object.featured_image %}
        <img src="{{ project_object.featured_image.url }}" alt="{{ project_object }}">
        <hr>
    {% endif %}
    <h3>{{ project_object.description }}</h3>
    {% for tag in project_object.tags.all %}
        <span class="">{{ tag }}</span>
    {% endfor %}
    <hr>
    <a href="{% url 'projects:update_project' project_object.id %}">Edit</a>
    <br>
    <a href="{% url 'projects:delete_project' project_object.id %}">Delete</a>
{% endblock %}